@using OpenOrderSystem.Data.DataModels
@model IEnumerable<Ingredient>

@{
    ViewData["Title"] = "Ingredients";
    Layout = "_LayoutManager";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="px-4">
    <table class="table table-dark table-striped table-hover ">
        <thead class="">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Price
                </th>
                <th>
                    Ingredient Categories
                </th>
                <th>
                    Menu Categories
                </th>
                <th>
                    Products
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.Price.ToString("C")
                    </td>
                    <td>
                        <ul class="row row-cols-1 px-1">
                            @foreach (var iCategory in item.Categories ?? new List<IngredientCategory>())
                            {
                                <li class="col"> @iCategory.Name</li>
                            }
                        </ul>
                    </td>
                    <td style="max-width: 150px">
                        <ul class="row row-cols-1 px-1">
                            @foreach (var pCategory in item.ProductCategories ?? new List<ProductCategory>())
                            {
                                <li class="col"> @pCategory.Name</li>
                            }
                        </ul>
                    </td>
                    <td style="max-width: 250px">
                        <ul class="row row-cols-2 px-1">
                            @foreach (var products in item.MenuItems ?? new List<MenuItem>())
                            {
                                <li class="col"> @products.Name</li>
                            }
                        </ul>
                    </td>
                    <td style="max-width: 20px">
                        <a asp-action="Edit" asp-route-id="@item?.Id" class="text-primary" title="Edit @item?.Name"><i class="fa-sharp fa-light fa-pen-to-square"></i></a>
                        <a href="#" class="delete-btn text-danger" data-id="@item?.Id" title="Delete @item?.Name"><i class="fa-sharp fa-light fa-trash-can"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts {
    <script>

        $('.delete-btn').on('click', (event) => {
            event.preventDefault();
            event.stopPropagation();
            var target = retarget(event.target, "delete-btn");
            var id = target.data('id');

            $.ajax({
                method: 'GET',
                url: `/Staff/Manager/Ingredients/Delete?id=${id}`,
                success: (data, status, xhr) => {
                    if (status == 'success') {
                        const modal = $.parseHTML(data, true);
                        $('body').append(modal);
                        initDeleteModal();
                    }
                }
            });
        });
    </script>
}