@using Microsoft.AspNetCore.Identity
@model List<IdentityUser>
@inject UserManager<IdentityUser> _userManager

@{
    ViewData["Title"] = "Users";
    Layout = "_LayoutManager";
}

<h1>Index</h1>

<p>
    <a asp-action="NewUser">Create New</a>
</p>
<div class="px-4">
    <table class="table table-dark table-striped table-hover ">
        <thead class="">
            <tr height="100px">
                <th>
                    Username
                </th>
                <th>
                    Contact
                </th>
                <th>
                    <span class="rotate-left-90" style="width: 20px">Admin</span>
                </th>
                <th>
                    <span class="rotate-left-90" style="width: 20px">Manager</span>
                </th>
                <th>
                    <span class="rotate-left-90" style="width: 20px">Staff</span>
                </th>
                <th style="width: 20px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <i class="fa-sharp-duotone fa-solid fa-phone"></i> &nbsp;&nbsp; @item.PhoneNumber <br />
                        <i class="fa-sharp-duotone fa-solid fa-envelope"></i> &nbsp;&nbsp; @item.Email
                    </td>
                    <td class="p-0 pt-1" style="width: 20px">
                        @if (await _userManager.IsInRoleAsync(item, "admin"))
                        {
                            <i class="fa-sharp fa-regular fa-circle-check" style="color: #17d924;"></i>
                        }
                    </td>
                    <td class="p-0 pt-1" style="width: 20px">
                        @if (await _userManager.IsInRoleAsync(item, "manager"))
                        {
                            <i class="fa-sharp fa-regular fa-circle-check" style="color: #17d924;"></i>
                        }
                    </td>
                    <td class="p-0 pt-1" style="width: 20px">
                        @if (await _userManager.IsInRoleAsync(item, "terminal_user"))
                        {
                            <i class="fa-sharp fa-regular fa-circle-check" style="color: #17d924;"></i>
                        }
                    </td>
                    <td style="width: 20px">
                        @if (!await _userManager.IsInRoleAsync(item, "default_admin"))
                        {
                            <div id="menu_@(item?.UserName?.ToLower())" class="dropdown">
                                <a href="#" class="text-primary" data-bs-toggle="dropdown" aria-expanded="false" title="@(item?.UserName)'s settings">
                                    <span class="fa-layers">
                                        <i class="fa-sharp fa-solid fa-user"></i>
                                        <i class="fa-sharp fa-solid fa-gears fa-rotate-by" style="--fa-rotate-angle: 110deg; color:slategray" data-fa-transform="shrink-6 down-3 right-3"></i>
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header text-white"><h5>@(item?.UserName)'s settings</h5></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Change Account Type</a></li>
                                    <li><a class="dropdown-item" href="#">Change Details</a></li>
                                    <li><a class="dropdown-item" href="#">Reset Password</a></li>
                                    <li><a class="dropdown-item" href="#">Lock/Unlock</a></li>
                                </ul>
                            </div>
                            <form class="delete-form" asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@item?.Id" />
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn-clean delete-btn text-danger" data-id="@item?.Id" title="Delete @item?.UserName"><i class="fa-sharp fa-light fa-trash-can"></i></button>
                            </form>
                            
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="confirm_delete_modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to permanantly delete this user? The user will immediately be signed out and lose access to any services on the site.
                </p>
            </div>
            <div class="modal-footer">
                <button id="confirm_delete_btn" type="button" class="btn btn-danger"><i class="fa-sharp fa-regular fa-thumbs-up"></i> Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-sharp fa-regular fa-thumbs-down"></i> No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var deleteConfirm = false;
        var deleteForm;

        $('.delete-form').on('submit', (event) => {
            if (!deleteConfirm) {
                event.preventDefault();
                $('#confirm_delete_modal').modal('show');
                deleteForm = $(event.target);
            }
        });

        $('#confirm_delete_btn').on('click', () => {
            deleteConfirm = true;
            deleteForm.submit();
        });
    </script>
}